FORGOT_MAIL_URL=http://localhost:3333/password/reset?token=
MAIL_PROVIDER=ethereal
AWS_ACCESS_KEY_ID=teste
AWS_SECRET_ACCESS_KEY=teste
AWS_BUCKET=teste
AWS_BUCKET_REGION=sa-east-1
AWS_BUCKET_URL=url
APP_API_URL=http://localhost:3333

disk=s3